<h1>${currentPage.pageTitle || currentPage.title}</h1>

<div>

  <h3>Config name: org.adaptto.caconfig.aem.config.ConfigSample</h3>

  <dl>
    <dt>stringParam:</dt>
    <dd>${caconfig['org.adaptto.caconfig.aem.config.ConfigSample'].stringParam}</dd>
    <dt>intParam:</dt>
    <dd>${caconfig['org.adaptto.caconfig.aem.config.ConfigSample'].intParam}</dd>
    <dt>boolParam:</dt>
    <dd>${caconfig['org.adaptto.caconfig.aem.config.ConfigSample'].boolParam}</dd>
    <dt>stringArrayParam:</dt>
    <dd>${caconfig['org.adaptto.caconfig.aem.config.ConfigSample'].stringArrayParam}</dd>
  </dl>

  <h3>Config collection name: org.adaptto.caconfig.aem.config.ConfigSampleList</h3>

  <ul data-sly-list.item="${caconfig['org.adaptto.caconfig.aem.config.ConfigSampleList']}">
    <li>${itemList.index}
      <ul>
      <li>stringParam: ${item.stringParam}</li>
      <li>stringParam 2: ${item.stringParam2}</li>
      <li>stringParam 3: ${item.stringParam3}</li>
      </ul>
    </li>
  </ul>

</div>
